<section class="contact" id="Contact">
    <div class="contact-section">

        <h1>Contact Us</h1>
        <form class="contact-form" action="">
          <input type="text" class="form-text" placeholder="Your name">
          <input type="email" class="form-text" placeholder="Your email">
          <input type="text" class="form-text" placeholder="Your phone">
          <textarea class="form-text" placeholder="Your message"></textarea>
          <input type="submit" class="form-button" value="Send">
        </form>
      </div>
</section>