<section class="mainfooter">
  <div class="footer-container">
    <div class="left-container">
      <h1>ANAND PANAYARAMADAM</h1>
      <h2>Photography</h2>
      <div class="icon-space">
        <i nz-icon nzType="facebook" nzTheme="outline"></i>
        <i nz-icon nzType="instagram" nzTheme="outline"></i>
        <i nz-icon nzType="twitter" nzTheme="outline"></i>
        <i nz-icon nzType="youtube" nzTheme="outline"></i>
      </div>
    </div>
    <div class="right-container">
      <h1>Contacts</h1>
      <ul>
        <li><i nz-icon nzType="phone" nzTheme="outline"></i> Phone: +91 7025509884</li>
        <li><i nz-icon nzType="mail" nzTheme="outline"></i> Email: ananthunalloor@gmail.com</li>
        <li><i nz-icon nzType="environment" nzTheme="outline"></i> Location: Thiruvalla, Pathanamtitta</li>
      </ul>
    </div>
  </div>
</section>
