nav{
    height: 12vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.0);
    position: fixed;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    z-index: 3;
    .logo{
        width: 70px;
        height: 70px;
        background-color: greenyellow;
        margin-bottom: auto;
        margin-top: auto;
    }
    .menu{
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;
        ul{
            li{
                list-style: none;
                display: inline-block;
                a{
                    text-decoration: none;
                    display: block;
                    color: black;
                    padding: 5px;
                }
            }
        }
    }
}
@media only screen and (max-width: 680px) {
    nav{
        display: none;
    }
}