<section class="aboutme" id="Aboutme">
  <h1>ABOUT ME</h1>
  <div class="about-container">
    <div class="img-container">
      <img src="/assets/img/photo_2020-01-04_12-49-15.jpg" alt="Profile Pic">
    </div>
    <div class="txt-container">
      <div class="txt-wrapper">
      <p>Lorem ipsum dolor sit amet consectetur,Lorem ipsum dolor
        Lorem ipsum dolor sit amet consectetur,Lorem ipsum dolor
        Lorem ipsum dolor sit amet consectetur,Lorem ipsum dolor
        Lorem ipsum dolor sit amet consectetur,Lorem ipsum dolor
        , sit amet consectetur Fugiat?</p>
      </div>
    </div>
  </div>
</section>