<section class="aboutme" id="Aboutme">
        <h1>ABOUT ME</h1>
        <div class="container">
          <div class="img-banner"></div>
          <div class="text-banner">
            <div class="text-area">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Rem quidem, explicabo obcaecati alias accusamus eveniet sit possimus.
                Exercitationem ipsum consectetur dolorum! Minus quisquam pariatur est,
                 quidem veniam assumenda iste eligendi?</p>
            </div>
          </div>
        </div>
      </section>