@font-face{
    font-family: 'CutiveMono';
    src: url(../assets/fonts/CutiveMono-Regular.ttf) format('truetype');
}
@font-face
{
    font-family: 'MajorMono';
    src: url(../assets/fonts/MajorMonoDisplay-Regular.ttf) format('truetype');
}
@font-face
{
    font-family: 'KalamBold';
    src: url(../assets/fonts/Kalam-Bold.ttf) format('truetype');
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: auto;
    background-color:wheat;
    overflow-x: hidden;
}