<section class="herosection" id="Home">
        <div class="heading">
          <div class="main-text">
              <h1>ANAND PANAYARAMADAM</h1>
              <h3>Photography</h3>
              <div class="icon-div">
                <i nz-icon nzType="facebook" nzTheme="outline"></i>
                <i nz-icon nzType="instagram" nzTheme="outline"></i>
                <i nz-icon nzType="twitter" nzTheme="outline"></i>
                <i nz-icon nzType="youtube" nzTheme="outline"></i>
              </div>
          </div>
        </div>
      </section>