.herosection {
  background-color: rosybrown;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.herosection .heading {
  position: relative;
  top: 50%;
}

.herosection .heading .main-text {
  margin-left: 60%;
  color: #111111;
}

.herosection .heading .main-text h1 {
  color: black;
}

.herosection .heading .main-text h3 {
  font-weight: lighter;
}
