.herosection{
    width: 100%;
    height: 100vh;
    //background-color: rosybrown;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    animation: gradient 15s ease infinite;
    //background-image: url(../images/pexels-122400.jpg);
    background-repeat: no-repeat;
    background-size: 400% 400%;
    background-attachment: fixed;
    .heading{
        position: relative;
        top: 40%;
        .main-text{
            float: right;
            margin-right: 7%;
            color:rgb(17, 17, 17);
            h1{
               color:white;
               font-size: 2.7rem;
               margin: 0;
              /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;*/
                font-family: kalamBold;
            }
            h3{
                font-weight: lighter;
            }
        }
    }
}
@media only screen and (max-width: 680px) {
    .herosection{
        .heading{
            .main-text{
                width: 100%;
                margin: auto;
                text-align: center;
                h1{
                font-size: 2rem;
                }
            }
        }
    }
  }
  @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}